.layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  height: auto;
  padding: 0;
  .header {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    width: 100%;
    .filter {
      width: 70%;
      display: flex;
      align-items: center;
      gap: 4px;

      .h4 {
        color: #7f7f7f;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 135%;
        text-transform: lowercase;
        text-wrap: nowrap;
      }
    }
    .h3 {
      color: #000;
      text-align: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      text-wrap: nowrap;
      line-height: 135%; /* 32.4px */
    }
  }
}
